*
{
    padding: 0;
    margin: 0;
}
.container
{
    display: flex;
}
.blue
{
    border: 2px solid black;
     color: black;
     background-color: blue;
     padding: 100px;
     height: 250px;
}
.yellow
{
    border: 2px solid black;  
    color:black;
    background-color: yellow;
    padding: 100px;
    width: 475px;
}
.red
{
    border: 2px solid black;  
    color: black;
    background-color: red;
    padding: 100px;
    width: 475px;
}